extends ./layouts/default

block title
    title Koa 首页

block content
    .container
        .row
            .col-md-8
                h1 Hi #{name1}
                p This is #{name2}
            .col-md-4
                p 测试动态 pug 模板引擎